
.previewModel01 {
    background-color: white;
    margin: 20px auto;
}

.resultNameLabel {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
}

.resultJobLabel {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.resultEmailLabel, .resultPhoneLabel, .resultAddressLabel {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

.resultHeadImgPanel {
    background: url("../image/headDemo.jpg") center no-repeat;
    background-size: 100% 100%;
}

.eduContentLabel {
    border-top: 1px solid #CCCCCC;
    padding-top: 2px;
    font-size: 12px;
}